<div>
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#formModal"
      (click)="limpiarForm()"
    >
      Nuevo Cliente
    </button>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes; let i = index">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.telefono}}</td>
            <td>
              <a
                data-toggle="modal"
                data-target="#formModal2"
                style="cursor: pointer"
                ><i class="material-icons" (click)="actualizarForm(cliente)">edit</i>
              </a>
            </td>
            <td>
              <a
              (click)="eliminar(cliente._id)"
              style="cursor: pointer"
              ><i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
    <div
    class="modal fade"
    id="formModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="IdmodalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="IdmodalLabel">Agregar Cliente</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="formClientes.nombre" >
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Direccion</label>
                <input type="text" class="form-control" [(ngModel)]="formClientes.direccion" >
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Telefono</label>
                <input type="number" class="form-control" [(ngModel)]="formClientes.telefono">
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" (click)="guardar() " data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>


  <div
  class="modal fade"
  id="formModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="IdmodalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="IdmodalLabel">Editar Producto</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        
        <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="formClientes.nombre" >
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Direccion</label>
                <input type="text" class="form-control" [(ngModel)]="formClientes.direccion" >
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Telefono</label>
                <input type="number" class="form-control" [(ngModel)]="formClientes.telefono">
              </div>
            </div>
          </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="actualizarProducto()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

</div>