<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="">Cliente</label>
                    <select name="" id="" class="form-control" [(ngModel)]="venta.cliente">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cliente of clientes" value="{{cliente._id}}">
                            {{cliente.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <label for="" >
                    <i class="material-icons">shopping_bag</i>
                </label>
            </div>
        </div>
    </div>

    <div class="col-12" style="margin-top:5%;">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="">Producto</label>
                    <select name="" id="" class="form-control" (change)="setearPrecio()" [(ngModel)]="venta.producto">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let producto of productos" value="{{producto._id}}-{{producto.precio}}-{{producto.nombre}}">
                            {{producto.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Precio</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="venta.precio">
                </div>
                <div class="form-group">
                    <label for="">Cantidad</label>
                    <input type="text" class="form-control" [(ngModel)]="venta.cantidad">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary float-right" (click)="agregar()">Agregar</button>
                </div>
            </div>
            <div class="col-8">
                <label for="">Productos</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of venta.productos_detalle; let i = index">
                            <th>{{p.producto_nombre}}</th>
                            <th>{{p.cantidad}}</th>
                            <th>{{p.precio}}</th>
                            <th>{{p.subtotal}}</th>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3"></th>
                            <th>Total: {{venta.total}}</th>
                        </tr>
                    </thead>
                </table>
                <button class="btn btn-success float-right" (click)="guardar()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>